<app-nav></app-nav>

<div class="container">
  <div class="row mt-2">
    <div class="col-md-10 col-12">
      <p>Selecione um estado e logo após digite o nome de uma cidade desse estado.</p>
    </div>
    <div class="col-md-2 col-12">
      <button type="button" class="btn btn-dark float-right" (click)="setFavorite()">Favoritar local</button>
    </div>
  </div>
  <form class="row mt-2">
    <div class="form-group col-6">
      <label for="estado">Estado</label>
      <select class="form-control col" id="estado" (change)="onChange($event.target.value)">
        <option value="0">Escolha uma opção...</option>
        <option *ngFor="let estado of estados" value="{{estado.ID}}" id="estado-{{estado.ID}}" class="{{estado.Sigla}}"> {{estado.Nome}} </option>
      </select>
    </div>
    <div class="form-group col-6">
      <app-autocomplete></app-autocomplete>
    </div>
  </form>
  <app-forecast></app-forecast>
</div>